
h1{
    color: white;
    font-family: 'subway_tickerregular';
    padding: 20px;
    text-align: center
    
}
#wrapper{
    margin: 0 auto;
    background: radial-gradient(rgb(28, 26, 39), rgb(76, 69, 114));
    padding: 20px;
    height: 1000px;
    overflow: scroll;
}
#wrapper_log_reg{
    margin: 0 auto;
    background: radial-gradient(rgb(28, 26, 39), rgb(76, 69, 114));
    padding: 50px;
}
.heading{
    text-align: right;
    font-family: 'arcadeclassicregular';
    padding: 15px;

}
    
a{
    text-decoration: none;
    color: #413E61;
    background: linear-gradient(silver, whitesmoke);
    padding: 5px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;

}
h2{
    font-family: 'lunchtime_doubly_soregular';
    color: white;
}
h3{
    font-family: 'arcadeclassicregular';
    color: white;
}
.pix{
    font-family: 'pixelregular';
    padding: 15px;
}
.log_reg_box{
    width: 200px;
    text-align: left;
    margin: 0 auto;
}
.input{
    font-family: 'arcadeclassicregular';
    color: rgb(176, 208, 230);
    margin-bottom: -18px;
}
.log_reg_box{
    background:radial-gradient(rgb(96, 90, 131), rgb(155, 142, 228));
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid white;
}
.error{
    background: linear-gradient(lightpink, lightcoral);
    font-family: 'arcadeclassicregular';
    color: red;
    padding: 15px;
    width: 20% 
}
.image_box{
    display: inline-block;
    background-color: white;
    padding-top: 3px;
    padding-right: 6px;
    padding-left: 5px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 2px;  
}
img{
    width: 100%;
    border: 1px solid black;
}
.print_section{
    display: inline-block;
    width: 30%;
    margin-right: 40px; 
}
.info_box{
    display: inline-block;
    width: 30%;
    margin-left: 40px; 
    vertical-align: top
}
.info{
    color: white;
    font-family: 'subway_tickerregular'
}
.name{
    font-family: 'sf_pixelate_shadedoblique';
    color: white
}
.description{
    color: white;
    font-family: 'subway_tickerregular';
}
.print_options{
    font-family: 'arcadeclassicregular';
    background: radial-gradient(whitesmoke, lavenderblush);
    padding: 10px;
    border-radius: 2px;
}
.center{
    text-align: center;
}
.item{
    margin-top: 40px; 
    width: 20%;
    padding: 20px;
    display: inline-block;
    

}
.cart_font{
    color: steelblue;
    display: inline-block;
    font-size: 14px;
    font-family: 'arcadeclassicregular';
    
  
    
}
.cart_all{
    overflow: scroll;
    height: 300px;
    background: linear-gradient(rgb(83, 157, 218), floralwhite);
    border: 3px solid white;
    box-shadow: -2px 5px 5px;; 
    border-radius: 10px; 
    margin-bottom: 20px;
}
.continue{
    font-family: 'arcadeclassicregular';
    padding: 10px;
    display: inline-block;
}
.checkout{
    background: linear-gradient(lightgreen, rgb(95, 173, 236));
    font-family: 'arcadeclassicregular';
    padding: 10px;
    display: inline-block;
}
.cart_image{
    width: 100%;
    display: inline-block;
    margin: 10px;        
}
.price_size{
    width: 10%;
    margin: 10px; 
    display: inline-block;
}
.total{
    background: linear-gradient(lavender, lightblue);
    color: darkcyan;
    padding: 20px;
    display: inline-block;
    width: 10%;
    border-radius: 10px;
}
.underline{
    color: darkcyan;
    font-family: 'sf_pixelate_shadedoblique';
    text-decoration: underline;
    text-decoration-color:darkcyan;
}
.selectbox{
    padding: 10px;
}
