<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/stylesheet.css' %}">
    <title>Login/Registration</title>
</head>
<body>
    <h2>Login</h2>
        <form action = "/logprocess">
            <input type="submit" value="Log In">
        </form>
    <h2>Register</h2>
        <form action = "/regprocess">
            <input type="submit" value="Register">
        </form>
</body>
</html>