<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/stylesheet.css' %}">
    <title>gh0st</title>
</head>
<body>
    <div id = "wrapper">
        <div class ="heading">
            <a class = "log_reg_link" href="/logout">Logout</a>
        </div>
        <h1>Main</h1>
    </div>
</body>
</html>