<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/stylesheet.css' %}">
    <title>Purchase</title>
</head>
<body>
    <div id="wrapper">
        <h1 >{{image.name}}</h1>
        <div class="print_section">
            <div class="image_box">
                <img src="{% static 'images/'%}{{image.image_url}}" alt="">
            </div>
            <form action ="/addtocart/{{image.id}}" method="post">
                {% csrf_token %}
                <select name="size" >
                    {% for size in sizes %}
                        <option name = "{{size.size}}">{{size.dimensions}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add to cart" >
            </form>
        </div>
        <div class="info_box">
            <p class="info">Please select print size below image to add the print to your cart.</p>
        </div>
    </div>
</body>
</html>