<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/stylesheet.css' %}">
    <title>Thank You</title>
</head>
<body>
    <h1>Thank you for your purchase</h1>
    <h2>Your products should arrive shortly</h2>
    <a href="/main">Return to Main page</a>
</body>
</html>